Package: com.atwiiks.ssgestures
Name: SSGestures
Depends: firmware (>= 11.0), mobilesubstrate
Conflicts: com.ps.ssgesturesios12fix
Version: 1.0.1
Architecture: iphoneos-arm
Description: Extra Gesture for the Screenshot stack in iOS 11+
Maintainer: ATWiiks
Author: ATWiiks
Section: Tweaks
