Package: com.atwiiks.ssgestures
Name: SSGestures
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Extra Geasture for the Screenshot stack in iOS 11
Maintainer: ATWiiks
Author: ATWiiks
Section: Tweaks
